
body {
    background-color: grey;
    width: 960px;
    font-family: Arial;
    margin: 0 auto;
}

table {
    margin: auto;
}

th {
    background-color: aliceblue;
    border-style: solid;
    border: black 1 px
}

td {
    background-color: white;
    border-style: solid;
    border: black 1 px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.navbar {
    float: right;
    width: 100%;
    margin: 0 auto;
    background: black;
}

.navbar a {
    text-align: center;
    padding: 22px 25px;
    float: left;
}

.navbar a.active {
    background: cyan;
}

#restoLogo {
    float: left;
    padding: 10px 10px;
}

.content {
    background-color: goldenrod;
}

.bigImageHolder {
    margin: 0 auto;
}
