body {
    background-color: white;
    font-family: Arial;
}

.container {
    background-color: gray;
    width: 960px;
    margin: auto;
}

.gallery {
    background-color: gray;
    width: 1000px;
    margin: auto;
}

table {
    margin: auto;
}

th {
    background-color: aliceblue;
    border-style: solid;
    border: black 1 px
}

td {
    background-color: white;
    border-style: solid;
    border: black 1 px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.navbar {
    float: left;
    width: 100%;
    background: black;
    padding: 0;
}

.navbar a {
    text-align: center;
    padding: 22px 25px;
    float: left;
}

.navbar a.active {
    background: cyan;
}

#restoLogo {
    float: left;
    padding: 10px 10px;
}

#bigImage {
    cursor: pointer;
    display: flex;
    width: 50%;
    margin: auto;
}

#thumbnailsHolder {
    cursor: pointer;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    align-content: center;
}

#thumbnailsHolder img {
    height: 200px;
    flex-grow: 1;
}
